/**
 * Body CSS
 */

html,
body {
    height: 100%;
}
.mui-row{
    background-color: #000;

}
html,
body,
input,
textarea,
buttons {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
.mui-col-sm-10,
.total_info-wrapper{
    padding: 15px 15px 15px 80px;
    background-color: #222222;
    border: 1px solid #bdbdbd;
    color: #bdbdbd;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: -11px 13px 22px 10px #222222;
}
.mui-col-sm-10:last-child{
    margin-bottom: 30px;
}

.country{
    text-transform: uppercase;
}
.asside-time{
    color: white;
    text-transform: uppercase;
    margin-top: 10px;
}
.time{
    color: #fff;
}
.cases,
.deaths,
.new_deaths,
.new_cases,
.critical,
.active_cases,
.total_cases_per_1m_population,
.total_cases,
.total_deaths{
    color: red;
}
.recovered,
.total_recovered{
    color: forestgreen;
}
.total_info-wrapper{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 9px;
}
.author{
    padding: 15px;
    background: rgb(231,68,46);
    background: radial-gradient(circle, rgba(231,68,46,1) 0%, rgba(0,0,0,1) 53%);

    text-align: center;
    color: #ffffff;
}
/**
 * Sidebar CSS
 */

#sidebar {
    /*background-color: #E57373;*/
    padding: 15px;
    background-image: linear-gradient(to right, #e7442e, #ae2e33, #74212d, #3b161e, #000000);
}

@media (min-width: 768px) {
    #sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 180px;
        height: 100%;
        padding-top: 30px;
    }
}

/**
 * Content CSS
 */
@media (min-width: 768px) {
    #content {
        margin-left: 180px;
    }
}
@media (max-width: 360px) {
    .mui-col-sm-10 {
        font-size: 12px;
        padding-left: 10px;
    }
    .asside-time {
        font-size: 13px;
    }
    .mui--text-display1{
        font-size: 28px;
    }
}
