$main-red-text-color: red;
$main-green-text-color: green;

@mixin asideItemStyles {
  padding: 25px;
  color: #909090;
  display: inline-block;
  width: 25%;
  background-color: #353839;
  position: fixed;
  line-height: 1.4;
  border-radius: 10px;
  border: 3px solid;
  margin: 30px 10px;
}

@mixin respAsideItems {
  display: block;
  text-align: center;
  width: 100%;
  padding: 15px;
  opacity: .95;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
}

