main{
  margin-top:30px;
  margin-left: 30%;
  display: inline-block;
  .colorado{
    @include asideItemStyles;
    padding: 5px;
    text-align: center;
    margin: 15px 0 10px;
    position: sticky;
    width: 100%;
    .state{
      color: white;
    }
    .cases,
    .deaths{
      color: $main-red-text-color;
    }
  }
  .country-index{
    position: absolute;
    top: 22px;
    right: 20px;
  }
  .country_inner{
    color: white;
    background-color: $main-bgc;
    border: 3px solid;
    font-size: 13px;
    padding: 15px 10px 20px 20px;
    border-radius: 15px;
    opacity: .9;
    line-height: 1.5;
    position: relative;
    margin-bottom: 20px;
    .total_recovered{
      color: $main-green-text-color;
    }
    .country_name{
      max-width: 85%;
      text-align: center;
      color: #fff;
      font-size: 20px;
      margin-bottom: 10px;
      span{
        color: white;
      }
    }
    .region{
      display: none;
    }
    .deaths, .new_deaths{
      color: $main-red-text-color;
    }
  }
  .country-flag{
    position: absolute;
    right: 20px;
    top: 45px;
    max-width: 64px;
  }
  @media (max-width: 1000px){
    display: block;
    width: 85%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
  }
}
