body {
  background-color: #343434;
  font-family: 'Lato', sans-serif;
  letter-spacing: .8px;

  .background {
    position: fixed;
    width: 100%;
    background-size: cover;
  }
}

header {
  color: #888888;
  position: relative;
  background-color: #333333;
  padding: 20px;
  text-align: center;
  line-height: 1.2;

  .news {
    margin-top: 5px;
  }

  .link {
    color: #ffffff;
  }
}

//Button srcoll to top!
.scrollTop{
  position: fixed;
  display: none;
  width: 75px;
  height: 75px;
  background: linear-gradient(-90deg, darkred, transparent);
  z-index: 10;
  border-radius: 20px;
  right: 30px;
  bottom: 30px;

  &:after {
    content: 'Go to top.';
    color: #fff;
    opacity: .5;
    font-size: 18px;
  }

  @media (max-width: 901px) {
    right: 5px;
    bottom: 20px;
  }
}


