body{
	// background-image: url(../images/virus-germs_med_background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #222222;
	background-attachment:fixed;
}
header{
	color: #888888;
	padding: 20px;
	@media (max-width: 784px) {
		text-align: center;
	}
}
.side-bar-info{
	@include asideItemStyles;
	@media (max-width: 1000px){
		@include respAsideItems;
	}
	span{
		color: $main-red-text-color;
	}
	.total_recovered{
		span{
			color: $main-green-text-color;
		}
	}
	.statistic_taken_at{
		span{
			color: white;
		}
	}
	.select-country{
		@include asideItemStyles;
		height: 50px;
		margin-top: 10px;
		overflow: scroll;
		transition: all 2s;
		position: absolute;
		a{
			display: block;
		}
		@media (min-width: 1001px) {
			width: 100%;
			top: 220px;
			left: -10px;
		}
		@media (max-width: 1000px){
			position: fixed;
			@include respAsideItems;
			margin-bottom: 10px;
			padding: 12px;
		}
	}
	.full-height{
		height: 60vh;
		transition: all 2s;
		.hide-window{
			width: 0;
			height: 0;
			position: absolute;
			top: 22px;
			right: 15px;
			transition: all 2s;
			&::before,
			&::after{
				content: '';
				width: 30px;
				height: 3px;
				background-color: red;
				position: absolute;

			}
			&::before{
				top: 0;
				transition: all 1s;
				right: 0;
				transform: rotate(45deg);
			}

			&::after{
				top: 0;
				transition: all 1s;
				right: 0;
				transform: rotate(-45deg);
			}
		}
		@media (max-width: 1000px){
			height: 80vh;
			transition: all 2s;
		}
	}
	.select-title{
		font-size: 18px;
		color: white;
		margin-bottom: 10px;
		@media (min-width: 1001px) {
			margin-top: -13px;
		}
	}
	.hide-window{
		width: 30px;
		height: 3px;
		background-color: #909090;
		position: absolute;
		transition: all 2s;

		top: 22px;
		right: 15px;
		&::before,
		&::after{
			content: '';
			width: 30px;
			height: 3px;
			background-color: #909090;
			position: absolute;

		}
		&::before{
			top: -9px;
			right: 0;
		}

		&::after{
			top: 9px;
			right: 0;
		}
	}
}
.ancor{
	z-index: 1;
	background-color: #8b0000;
	opacity: .3;
	width: 30px;
	border-radius: 50%;
	height: 30px;
	position: fixed;
	bottom:20px;
	right: 15px;
	&::before{
		position: absolute;
		content: '>';
		top: 4px;
		color: white;
		font-size: 21px;
		right: 9px;
		transform: rotate(-90deg);
	}
}
main{
	margin-top:30px;
	margin-left: 30%;
	display: inline-block;
	.country_inner{
		color: #909090;
		background-color: #222222;
		border: 3px solid;
		font-size: 14px;
		padding: 25px;
		border-radius: 15px;
		opacity: .9;
		position: relative;
		.index{
			position: absolute;
			top: 25px;
			right: 15px;
			font-size: 16px;
			color: white;
		}
		.total_recovered{
			span{
				color: $main-green-text-color;
			}
		}
		.country_name{
			color: #fff;
			font-size: 18px;
			margin-bottom: 10px;
			span{
				color: white;
			}
		}
		.region{
			display: none;
		}
		span{
			color: $main-red-text-color;
		}
	}
		@media (max-width: 600px){
		display: block;
		width: 290px;
		margin: 0 auto;
		position: relative;
		margin-bottom: 20px;
	}
	article:nth-last-child(-n+19){
		display: none;
	}
}
